// Color Variables
$brandbrand: #3dcc77;
$brandbrand-100: #d8f5e4;
$dangerdanger: #dc3545;
$dangerdanger-100: #f8d7da;
$infoinfo: #0dcaf0;
$infoinfo-100: #cff4fc;
$primarygray-50: #fcfdfe;
$primarygray-100: #f8f9fa;
$primarygray-150: #eef0f3;
$primarygray-200: #e9ecef;
$primarygray-300: #dee2e6;
$primarygray-400: #ced4da;
$primarygray-500: #adb5bd;
$primarygray-600: #6c757d;
$primarygray-700: #495057;
$primarygray-800: #343a40;
$primarygray-900: #212529;
$purplepurple: #6f42c1;
$purplepurple-100: #e2d9f3;
$universalwhite: #ffffff;
$universalwhite-50: rgba(255, 255, 255, 0.5);
$warningwarning: #ffc107;
$warningwarning-100: #fff3cd;

// Shadow Variables
$header-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);

// Font Variables
$font-family: 'Poppins', Helvetica, sans-serif;